.App {
    text-align: center;
}

h1 {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    background-color: #21ba45;
    color: white;
    font-family: "Tahoma";
    display: flex;
    border-bottom: 4px solid black;
    align-items: center;
    justify-content: center;
}

.headerImg {
    height: 30px;
    margin-right: 15px;
    margin-top: 2px;
    margin-left: 15px;
}

.newSearch {
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
}

.newSearch p {
    margin-top: 5px;
    margin-bottom: 0px;
}

div.ui.modal.transition.visible.active {
    text-align: center;
}

div.content {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

@media only screen and (max-width: 767px) {
    .image {
        padding-right: 25px;
        padding-left: 25px;
    }
}