body {
    background-color: gainsboro;
}
.App {
    text-align: center;
}

.modal {
    max-width: 400px;
}

input {
    text-align: center;
}

.ui.raised.segment {
    padding: 0px;
}

.mainHeader {
    padding: 20px;
    background-color: darkslategray;
    color: white;
    display: flex;
    border-bottom: 4px solid silver;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.headerImg {
    height: 30px;
    margin-right: 15px;
    margin-top: 2px;
    margin-left: 15px;
}

.newSearch {
   margin-top: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
   border-top: 1px solid lightgray;
}

.newSearch p {
    margin-top: 5px;
    margin-bottom: 0px;
}

div.ui.modal.transition.visible.active {
    text-align: center;
}

#msgSendForm {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    margin-left: 15px;
    margin-right: 15px;
}

.startImg {
    padding-top: 3vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 3vh;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

div.mainContent.ui.raised.segment {
    margin-top: 0px;
    padding: 2rem;
    margin-bottom: 3rem;
    min-height: 80vh;
}

#mainRecipeImg {
    padding: 4vh;
}

/**desktop screen*/
@media screen and (min-width: 600px) {
    .startImg {
        padding-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 50px;
    }
}

/**mobile screen */
@media screen and (max-width: 600px) {
    #inputFormHeader {
        padding-top: 1vh;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    div.mainContent.ui.raised.segment {
        padding: 1rem;
    }
    #mainRecipeImg {
        padding: 1vh;
    }
}

.smsImage {
   max-height: 75px; 
}

.About {
    display: flex;
    border-top: 1px solid silver;
    /*padding-top: 10px;
    margin-top: 40px;*/
    align-items: left;
    width: 100%;
    height: 2.5rem;
}

.About p {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.ui.modal.transition.visible.active button {
    margin-bottom: 10px;
    margin-left: 0px;
}

#msgOptions {
    display: flex;
    justify-content: space-evenly;
}

.SMSFormDetails {
    display: flex;
    justify-content: space-evenly;
}

.container {
    box-sizing: border-box;
}

.ui.modal > .header:not(.loadingGraphic) {
    border-bottom: 4px solid silver;
    background-color: darkslategray;
    color: white;
}